/* 버튼 디자인 */
.btn {
    /* 
    width: 25vh;
    height: 7vh; 
    background-color: var(--black-color);
    font-size: 2.5vh;
    color: var(--black-color);
    */
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

#btn_start {
    width: 30vmin;
    height: 7vmin; 
    background-color: var(--black-color);
    font-size: 2.8vmin;
    color: var(--black-color);
}

#btn_lr {
    width: 12vmin;
    height: 4vmin; 
    background-color: var(--yellow-color);
    font-size: 1.8vh;
    color: var(--yellow-color);
}

#end_btn {
  width: 30vmin;
  height: 7vmin; 
  background-color: var(--black-color);
  font-size: 2.8vmi;
  color: var(--black-color);
}
  
.btn__content {
    /* 
    background-color: var(--yellow-color);
    */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

#btn_start__content {
    background-color: var(--yellow-color);
}

#btn_lr__content {
    background-color: var(--black-color);
}

#end {
  background-color: var(--blue-color);
}

.btn__label {
    /* 
    height: 1vh;
    width: 5vh;
    background-color: var(--yellow-color);
    */
    color: black;
    font-family: inherit;
    position: absolute;
    bottom: 1%;
    right: 9%;
    padding: 0 0.5vh;
    z-index: 1;
}

#btn_start__label {
    height: 1vh;
    width: 5vh;
    font-family: inherit;
    font-size: 0.5vmin;
    background-color: var(--yellow-color);
}

#btn_end__label {
  height: 1vh;
  width: 5vh;
  font-family: inherit;
  font-size: 0.5vmin;
  background-color: var(--blue-color);
}

.btn__glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);   
    filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
    z-index: 1;
}
  
.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
    display: block;
    animation: glitch-animation 2s linear 0s infinite;
}

#btn_lr__glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
    z-index: 1;
}
  
#btn_lr:hover #btn_lr__glitch,
#btn_lr:hover #btn_lr__content::after,
#btn_lr:focus #btn_lr__glitch,
#btn_lr:focus #btn_lr__content::after {
    display: block;
    animation: glitch-animation 1s linear 0s infinite;
}

#btn_end__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);   
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
  z-index: 1;
}

#end_btn:hover #btn_end__glitch,
#end_btn:hover #end::after,
#end_btn:focus #btn_end__glitch,
#end_btn:focus #end::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}


/* 반짝거리는 효과 */
@keyframes glitch-animation {
    0% {
      opacity: 1;
      transform: translateZ(0);
      clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
  
    2% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    6% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(5px);
    }
  
    8% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    9% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(0);
    }
  
    10% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translate3d(5px, 0, 0);
    }
  
    13% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translateZ(0);
    }
  
    13.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    15% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    20% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    20.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    25% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    30% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    30.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
    35% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    40% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(5px);
    }
  
    45% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    50% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(0);
    }
  
    55% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    60% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translateZ(0);
      opacity: 1;
    }
  
    60.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  
    to {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  }