* {margin: 0; padding: 0; box-sizing: border-box;}

/* LOGIN PAGE*/
.login_body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/static/image/bodybuilding.jpg") no-repeat center;
    background-size: cover;
}

.login_body::before {
    content: "";
    position:absolute; z-index: 1;
    top: 0;  right: 0;  bottom: 0; left: 0;
    background-color: (rgba(0, 0, 0, .7));
}

.login-form{
    position: relative;  z-index: 2;
    background-color: rgba(0,0,0,.5);
    padding: 5vh;
    border-radius: 2vh;
    margin-bottom: 5%;
}

.login-form h1 {
    font-size: 10vh; color: #fff;
    text-align: center;
    margin-bottom: 15%;
}

.int-area{
    max-width: 400px;
    position: relative;
    margin-top: 5%;
}
.int-area:first-child{
    margin-top: 0;
}
.int-area input{
    width: 100%;
    padding: 4% 2% 2%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 3vh;
    color: #fff;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 2%;  top: 3%;
    font-size: 3vh;
    color: #999;
    transition: all .5s ease;
}
.int-area label.warning {
    color: var(--yellow-color) !important;
    animation: warning .2s ease;
    animation-iteration-count:2;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
    top:-2px;
    font-size: 2vh;
    color: #166cea;
}

.btn-area {
    margin-top: 10%;
    margin-bottom: 5%;
}
.btn-area button {
    width: 100%;
    height: 5%;
    background: #166cea;
    color: #fff;
    font-size: 2.5vh;
    border: none;
    border-radius: 20px;
    cursor:pointer
}

.process {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    text-align: center;
    font-size: 1.5vh;
}

.process a:link { color: white; text-decoration: none; }
.process a:visited { color: white; text-decoration: none;}
