/* LOGIN PAGE*/
.user_body{
    background: url("/static/image/bodybuilding.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.user_form{
    margin-bottom: 15%;
}
.user_form h1 {
    font-size: 10vh; color: #fff;
    text-align: center;
    margin-bottom: 15%;
}

.process {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.process a {
    font-size: 1.5vh;
}
.process a:link { color: white; text-decoration: none; }
.process a:visited { color: white; text-decoration: none;}
