/* MY PAGE */

body{
    /* background-color: rgba(0, 0, 0.2, 0.9); */
    background: url("/static/image/kettle_bell.jpg")no-repeat center;
    background-size: cover;
    height: 100vh;
    font-family: Tomorrow, sans-serif;
    z-index: -10;
}

.interlock{
    height: 80%;
}

@media (orientation: portrait) {
    /* 세로 모드일 때 적용할 CSS */
    .above, .below {
        height: 50%;
    }
}
@media (orientation: landscape) {
    /* 가로 모드일 때 적용할 CSS */
    .above, .below {
        width: 50%;
    }
}


/* Main AREA */

.selectbox {
    position: relative;
    width: 30vh;  /* 너비설정 */
    height: 4vh;
    border: 0.5px solid var(--yellow-color);  /* 테두리 설정 */
    z-index: 1;
    font-family: inherit;
}

/* 가상 선택자를 활용 화살표 대체 */
.selectbox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 2vh;
    width: 0;
    height: 0;
    margin-top: -0.2vmin;
    border-left: 0.5vmin solid transparent;
    border-right: 0.5vmin solid transparent;
    border-top: 0.5vmin solid var(--yellow-color);
}

.selectbox label {
    position: absolute;
    font-family: inherit;
    left: 6vh;  /* 위치정렬 */
    bottom: -0.8vh;
    padding: .8em .5em;  /* select의 여백 크기 만큼 */
    color: var(--yellow-color);
    z-index: -1;  /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}

.selectbox select {
    width: 100%;
    background-color: var(--black-color);
    color: var(--yellow-color);
    height: auto;  /* 높이 초기화 */
    line-height: normal;  /* line-height 초기화 */
    font-family: inherit;  /* 폰트 상속 */
    padding: .8em .5em;  /* 여백과 높이 결정 */
    border: 0;
    opacity: 0;  /* 숨기기 */
    filter:alpha(opacity=0);  /* IE8 숨기기 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.video_wrap {
	width: 100%;
	position: relative;
}
.video_wrap img {
	width: 100%;
	vertical-align: middle;
}

.video_frame{
    text-align: center;
}

@media (orientation: portrait) {
    /* 세로 모드일 때 적용할 CSS */
    .video_frame video{
        width: 70%;
    }
}
@media (orientation: landscape) {
    /* 가로 모드일 때 적용할 CSS */
    .video_frame video{
        width: 80%;
    }
}

.text_frame {
    width: 100%;
    height: 30%;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
    position: absolute;
    color: var(--yellow-color);
	top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.text_frame p{
    font-size: 5vh;
    font-family: Tomorrow, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btns_frame{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio_btns{
    font-size: 2vh;
    color: var(--white-color);
}

.graph_frame{
    width: 70%;
    background-color: rgba(0, 0, 0, .5);
}