{% load static %}
로그인 페이지<br>

{% if user.is_authenticated %}

로그인 성공! {{ user.nick_name }}님 환영합니다.<br>
{% if user.profile_img %}
    <img src="{{ user.profile_img.url }}" width="100" height="100" alt="프로필사진"><br>
{% endif %}
<a href="{% url 'users:logout' %}">로그아웃</a>
<br><br>

<!-- DropBox Button -->
<label for="workouts">운동 종목 선택: </label>
<select id="workouts">
    <option value="squat">스쿼트</option>
    <option value="dumbell_curl">덤벨컬</option>
</select>
<br>

<!-- 동영상 -->
<video src="{% static 'video/squat.mp4' %}" width="600" height="400" controls id="squatVideo"></video><br>
<video src="{% static 'video/dumbell_curl.mp4' %}" width="600" height="400" controls id="dumbellCurlVideo" style="display: none;"></video><br>

<!-- Prev Start Next Button -->
<button type="button" id="prev">Prev</button>
<button type="button" id="start">Start</button>
<button type="button" id="next">Next</button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let squatVideo = document.querySelector("#squatVideo");
        let dumbellCurlVideo = document.querySelector("#dumbellCurlVideo");
        let prevBtn = document.querySelector("#prev");
        let nextBtn = document.querySelector("#next");
        let startBtn = document.querySelector("#start");
        let selectBox = document.querySelector("#workouts");

        function changeVideo(prev) {
            selectBox.selectedIndex = prev ? selectBox.selectedIndex - 1 : selectBox.selectedIndex + 1;

            if (selectBox.selectedIndex === -1) {
                selectBox.selectedIndex = prev ? selectBox.options.length - 1 : 0;
            }

            selectBox.dispatchEvent(new Event('change'));
        }

        prevBtn.addEventListener("click", function (e) {
            changeVideo(true);
        });

        nextBtn.addEventListener("click", function (e) {
            changeVideo(false);
        });
        
        selectBox.addEventListener('change', function (e) {
            switch (e.target.value) {
                case "squat":
                    squatVideo.style.display = "";
                    dumbellCurlVideo.style.display = "none";
                    break;
                case "dumbell_curl":
                    squatVideo.style.display = "none";
                    dumbellCurlVideo.style.display = "";
                    break;
            }
        });

        startBtn.addEventListener("click", function (e) {
            let what_kind = selectBox.options[selectBox.selectedIndex].value;
            location.href = "{% url 'users:sports' what_kind='temp' %}".replace(/temp/, what_kind.toString());
        });
    })
</script>

<!-- 그래프 처리 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<div style="height: 400px; width: 600px;">
    <canvas id="myChart" width="100" height="100"></canvas>
</div>
<script>
    let workout_date_temp = [];
    let workout_count_temp = [];
    {% for record in latest_records %}
        workout_date_temp.push("{{record.workout_date}}");
        workout_count_temp.push("{{record.workout_count}}");
    {% endfor %}

    
    function getDatesOfMonth(year, month) {
        let datesOfMonth;
        if (month == 0) {
            datesOfMonth = new Date(year - 1, 12, 0).getDate();
        } else {
            datesOfMonth = new Date(year, month, 0).getDate();
        }
        return datesOfMonth;
    }
    
    let workout_date = [];
    let workout_count = [];

    let mode = 1;
    let howMuch = 30;

    if (mode == 0) {
        for (let i = 0; i < howMuch && i < workout_date_temp.length; i++) {
            workout_date.push(workout_date_temp[i]);
            workout_count.push(workout_count_temp[i]);
        }
    } else {
        let today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth() + 1; //+1을 해줘야 현재 몇월인지가 구해진다.
        let date = today.getDate();
        for (let i = 0, j = 0; i < howMuch && j < workout_date_temp.length; i++) {
            let day = workout_date_temp.length == 0 ? -1 : workout_date_temp[j].split(' ')[2].slice(0, -1);
            if (date == day) {
                workout_date.push(workout_date_temp[j]);
                workout_count.push(workout_count_temp[j]);
                j++;
            } else {
                workout_date.push(year + "년 " + month + "월 " + date + "일");
                workout_count.push(0);
            }
    
            if (date == 1) {
                month--;
                date = getDatesOfMonth(year, month);
                if (month == 0) {
                    year--;
                    month = 12;
                }
            } else {
                date--;
            }
        }
    }

    workout_date.reverse();
    workout_count.reverse();

    console.log("test");
    console.log(workout_date_temp);
    console.log(workout_count_temp);
    console.log("{{ latest_records }}");
    alert('stop');

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: workout_date,
            datasets: [{
                label: '운동 횟수',
                data: workout_count,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

{% else %}

<img src="{% static 'image/2.jpg' %}" alt=""><br>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="로그인">
</form>
<a href="{% url 'users:signup' %}">회원가입</a>

{% endif %}
