<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="thumb-wrapper">
            <img src="{{ user.profile_img.url }}">
            <div class="badge"></div>
        </div>
        <h1>Hi, Mary Jane</h1>
        <div class="desc">
            We'll make a moble magazine 
        </div>
    </header>

    <ul class="list">
        <li class="item"></li>
        <div class="left">
            
        </div>
    </ul>
</body>
</html>