<style>
    #camera{
        width: 350;
        height: 350;
        border: 1px solid black;
    }
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js"></script>

<div class="error_message">
    {{error}}
</div>
<div class="login_title">
    Change Password
</div>
<div id="camera"></div>
<button onclick="take_snapshot()">Take Snapshot</button>
<div id="results"></div>

<form method="POST" action="{% url 'users:useredit' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="username_form_text">current_password</div>
    {{ form.current_password.label}}
    {{ form.current_password}}
    <div class="password_form_text"> New Password</div>
    {{ form.password1 }}
    <div class="confirm_password_form_text">Confirm Password</div>
    {{ form.password2 }}

    <input name="profile_img" id="profile_img" type="hidden" value="">

    <input type="submit" class="login_btn" value="회원정보 변경">
</form>

<script>
    // Load all webcam
    Webcam.set({
        width: 350,
        height: 350,
        image_format: 'jpeg',
        jpeg_quality: 90
    })
    Webcam.attach("#camera")
    
    function take_snapshot(){
        Webcam.snap(function(data_uri){
            // display results in page
            document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
            document.getElementById('profile_img').value = data_uri;
        })
    }
</script>